<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head.html" . }}
    <body>
        {{ partial "navigation/navigation.html" . }}
        <div id="top" class="container">
            <div class="row" id="content-main">
                <div class="col-md-8">                    
                    {{ range .RegularPages }}
                        <a href="{{ .RelPermalink }}"><li>{{ .Title }}</a> 
                            <span style="font-size: xx-small; color: grey; padding-left: 1.2em; white-space: nowrap;">// <i class="fa fa-calendar"></i>
                            {{ .Date.Format "2006-01-02" }}</span>
                            
                            {{/* 
                            {{ if isset .Params "categories" }}
                            {{ $categoryCount := .Params.categories | len }}
                            ({{ range $index, $value := .Params.categories }}<a href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ $value }}</a>{{ if lt (add $index 1) $categoryCount }}, {{ end }}{{ end }})
                            {{ end }}
                            */}} 
                                                    
                    {{ end }}                    
                </div>
                <div class="col-md-4">
                    {{ partial "widgets/sidebar/profile.html" . }}
                    {{ partial "widgets/sidebar/categories.html" . }}
                    {{ partial "widgets/sidebar/search.html" . }}                    
                    {{ partial "widgets/sidebar/subscribe.html" . }}
                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
        {{ partial "foot.html" . }}
    </body>
</html>
